@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;

    font-family: "Noto Sans JP", sans-serif;
}

body {
    background-color: rgb(40, 43, 44);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

header{
    background-size: cover;
    min-height: 10vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu img{
    width: 130px;
    padding-left: 20px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar img{
    width: 50px;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: aliceblue;
    display: block;
}

.menu .navbar ul li a:hover{
    color: blue;
}

#menu{
    display: none;
}

.menu.container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trending {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2; 
}

.trending-header {
    text-align: center; 
}

.trending h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    color: gold;
}

.trending img{
    width: 80px;
}

.Más-Vendidas{
    padding: 150px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.pan-caliente{
    padding: 25px;
    margin: 0px 20px;
    box-shadow: 0px 0px 20px #7d27df4d;
}

.pan-caliente img{
    margin-top: -200px;
    width: 500px;
}

.pan-caliente h3{
    font-size: 20px;
    color: slateblue;
    margin: 10px;
}

.pan-caliente p{
    font-size: 16px;
    color: white;
}


.registro-container {
    background-color: rgb(55, 58, 60);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 50px auto;
    color: aliceblue;
}

.registro-container h1 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    color: gold;
    font-size: 40px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: slateblue;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background-color: rgb(40, 43, 44);
    border: 1px solid slateblue;
    border-radius: 4px;
    color: aliceblue;
    font-size: 14px;
}

.input-group input:focus {
    border-color: gold;
    outline: none;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: slateblue;
    color: aliceblue;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: gold;
    color: rgb(40, 43, 44);
}


/* Registro */


.registro-container {
    background-color: rgb(55, 58, 60);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    color: aliceblue;
}

.registro-container h1 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    color: gold;
    font-size: 40px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: slateblue;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background-color: rgb(40, 43, 44);
    border: 1px solid slateblue;
    border-radius: 4px;
    color: aliceblue;
    font-size: 14px;
    text-transform: none;
}

.input-group input:focus {
    border-color: gold;
    outline: none;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: slateblue;
    color: aliceblue;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: gold;
    color: rgb(40, 43, 44);
}


/* Login */


.login-container {
    background-color: rgb(55, 58, 60);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    color: aliceblue;
    text-align: center;
}

.login-container h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: gold;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    color: slateblue;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background-color: rgb(40, 43, 44);
    border: 1px solid slateblue;
    border-radius: 4px;
    color: aliceblue;
    font-size: 14px;
}

.input-group input:focus {
    border-color: gold;
    outline: none;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input {
    width: auto;
    margin-right: 10px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: slateblue;
    color: aliceblue;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: gold;
    color: rgb(40, 43, 44);
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
    color: aliceblue;
}

.register-link a {
    color: gold;
    text-decoration: underline;
}

.register-link a:hover {
    color: slateblue;
}


/* Market */

.catalog-container {
    padding: 50px;
    text-align: center;
    color: aliceblue;
}

.catalog-container h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 80px;
    color: gold;
    margin-bottom: 40px;
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
}

.catalog-grid .price{
    color: rgb(228, 169, 42);
    text-decoration: underline;
}

.catalog-item {
    background-color: rgb(55, 58, 60);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.catalog-item img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
}

.catalog-item h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    color: slateblue;
    margin-bottom: 10px;
}

.catalog-item p {
    font-size: 16px;
    color: aliceblue;
}

/*  Desc de Un Producto  */

.product-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    width: 80%;
    max-width: 1200px;
}

.box {
    background-color: rgb(55, 58, 60);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    flex: 1; 
}

.product-description {
    color: aliceblue;
}

.product-description h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: gold;
    text-align: center;
    margin-bottom: 20px;
}

.product-description p {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-image .image-info {
    margin-bottom: 20px;
    text-align: center;
}


.item {
    font-size: 18px;
    color: black; 
}

.type {
    font-size: 30px; 
    color: aliceblue;
    text-align: center;
}

.rarity {
    font-size: 18px;
    color: slateblue; 
}

.product-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px; 
    display: block;
    margin: auto;
}